/*  CSS for Sunnies Face
    Full Name: Dixie Maniquis
	Section: WD-202
	Activity: about
	Date: August 8, 2026
*/

/* CSS Reset */
body, header, nav, main, footer, h1, div, img {
    margin: 0;
    padding: 0;
    border: 0;
}

/* CSS Styles for body and image */
body {
    background-color: #FDFAF6;
}

img {
    margin: 0 auto;
    max-width: 100%;
    display: block;
}

/*STYLE RULES FOR MOBILE VIEWPORT*/

/*CSS styles for header */
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #F1DEC4;
    height: 190px;
    width: 100vw;
    display: flex;
}

header img {
    margin: 0 auto;
}

/*CSS Styles for navigation */
nav {
    padding: 1%;
    margin-bottom: 1%;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav li {
    font-size: 1.5em;
    font-family: 'Francois One', sans-serif;
    border-top: 1px solid #BD4444;
    width: auto;
    margin: 0 auto;
}

nav li:first-child {
    border-top: none;
}

nav li a {
    display: block;
    color: #BD4444;
    padding: 0.5em 1em;
    text-decoration: none;
}

/*Show mobile class, hide tablet-desktop class*/
.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

/* CSS Styles for main content */
main {
    clear: left;
    background-color: #F1DEC4;
    padding: 2%;
    font-size: 1.15em;
    font-family: 'Roboto Slab', serif;
}

a.action {
    background-color: #BD4444;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.hours {
    margin-left: 10%;
}

.action a {
    color: #FDFAF6;
    text-decoration: none;
    font-size: 1.0em;
    display: block;
}

#Face, #Lips, #Eyes {
    width: 29%;
    float: left;
    margin: 0 2%;
}

#contact {
    text-align: center;
}

#contact a {
    color: #666666;
    text-decoration: none;
}

.action {
    font-size: 1.35em;
    color: #BD4444;
    font-weight: bold;
}

.map {
    border: 2px solid #000;
    width: 95%;
    height: 50%;
}

/*CSS Styles for footer */
footer p {
    font-size: 0.75em;
    text-align: center;
    color: #BFC6C4;
    padding: 0.1em;
}

footer p a {
    color: #BFC6C4;
}

/* ========================================================= */
/* MEDIA QUERY FOR TABLET VIEWPORT */
/* Tablet Viewport: Show tablet-desktop class, hide mobile class */
@media screen and (min-width: 630px) {
    .mobile {
        display: none;
    }
    .tablet-desktop {
        display: block;
    }

/* Tablet Viewport: Style rule for header */
    header {
        position: static;
        padding-bottom: 2%;
        flex-direction: column;
        height: auto;
    }

/* Tablet Viewport: Style rules for nav area */
    nav li {
        border-top: none;
        display: inline-block;
        border-right: 1px solid #BD4444;
    }
    
    nav li:last-child {
        border-right: none;
    }

    nav li a {
        padding: 0.1em 0.75em;
    }

/* Tablet Viewport: Style rules for main content area */

    main ul {
        margin: 0 0 4% 10%;
    }

    #types-of-makeup {
        clear: left;
        border-top: 1px solid #BD4444;
        border-bottom: 1px solid #BD4444;
        background-color: #F1DEC4;
        padding: 1% 2%;
    }

    #types-of-makeup h2 {
        margin-left: -2%;
    }

    #types-of-makeup dt {
        font-weight: bold;
    }

    #types-of-makeup dd {
        padding: 0.5% 1% 2% 0;
    }

    .action-num {
        font-size: 1.25em;
    }

    .map {
        width: 600px;
        height: 450px;
    }
}

/* ========================================================= */
/* MEDIA QUERY FOR DESKTOP VIEWPORT */
@media screen and (min-width: 1015px) {

/* Desktop Viewport: Style rule for header */
    header {
        float: left;
        padding-bottom: 0;
        flex-direction: row;
        height: 190px;
    }

/* Desktop Viewport: Style rules for nav area */
    nav {
        float: right;
        width: 70%;
        margin: 4em 1em 0 0;
    }

    nav ul {
        text-align: right;
    }

    nav li {
        border: none;
    }

    nav li a {
        padding: 0.5em 1em;
    }

    nav li a:hover {
        color: #FDFAF6;
        background-color: #BD4444;
    }

/* Desktop Viewport: Style rules for main content area */
    main {
        clear: left;
    }

    main h1 {
        font-size: 1.8em;
    }

    #Face, #Lips, #Eyes {
        width: 29%;
        float: left;
        margin: 0 2%;
    }

    #types-of-makeup {
        clear: left;
    }
}
/* ========================================================= */
/* MEDIA QUERY FOR LARGE DESKTOP VIEWPORT */
@media screen and (min-width: 1920px) {
    #container {
        width: 1920px;
        margin: 0 auto;
    }
}

/* ========================================================= */
/* MEDIA QUERY FOR PRINT 8 */
@media print {
    header {
        position: static;
        height: auto;
        float: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header a {
        display: inline-block;
    }

    nav {
        float: none;
        width: 100%;
        height: auto;
        background: none;
    }

    nav ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
    }

    nav li {
        display: block;
        width: auto;
        margin: 0;
        border: none;
    }

    .tablet-desktop {
        display: block;
    }

    #about,
    #types-of-makeup,
    #contact {
        page-break-inside: avoid;
    }

    #bgimage,
    main,
    footer {
        float: none;
        clear: both;
        width: 100%;
    }
}