/*---------- HOMEPAGE CSS ----------*/

/*---------- Google Fonts ----------*/
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,500;6..96,600;6..96,700&family=Montserrat:wght@400;500;600&display=swap");

/*---------- CSS Reset ----------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------- HTML ----------*/

html {
    scroll-behavior: smooth;
}

/*---------- Body ----------*/

body {
    font-family: "Montserrat", sans-serif;
    color: #000;
    background-color: #FAF7F0;
}

/*---------- Header ----------*/

header {
    position: relative;
    width: 100%;
}

/*---------- Navigation ----------*/

nav  {
    position: relative;
    z-index: 20;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 12px;
    background-color: #FAF7F0;
}

nav img {
    width: 160px;
    height: auto;
    display: block;
}

nav ul {
    position: absolute;
    top: 105px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 750px;
    height: 40px;
    gap: 100px;
    padding: 0;
    list-style: none;
    border-radius: 15px;
    background-color: #FAF7F0;
}

nav li a {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
}

/*---------- Hero ----------*/

.hero {
    position: relative;
    display: flex;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.hero-left, 
.hero-right {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.hero-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 65%;
}

.hero-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 10%;
}

/*---------- Hero Overlay ----------*/

.hero-left::after,
.hero-right::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.50);
}

/*---------- Hero Text ----------*/

.hero-text {
    position: absolute;
    z-index: 2;
    left: 30px;
    bottom: 35px;
    color: #FFF;
}

.hero-text h1 {
    font-family: "Bodoni Moda", serif;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 3px;
    margin-bottom: -10px;
}

.hero-text p {
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    margin-bottom: 15px;
    font-weight: 400;
}

.hero-text button {
    width: 165px;
    height: 38px;
    position: relative;
    top: 13px;
    border: none;
    border-radius: 10px;
    background-color: #FAF7F0;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

/*---------- Intro ----------*/

.intro {
    min-height: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    text-align: center;
    background-color: #FAF7F0;
}

.intro h2 {
    font-family: "Bodoni Moda", serif;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
}

.intro p {
    max-width: 650px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}

/*---------- Best Seller ----------*/

.best-seller {
    padding: 40px 8% 80px;
    text-align: center;
    background-color: #E7DFD8;
}

.best-seller .label {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

.best-seller h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    font-family: "Bodoni Moda", serif;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
}

.best-seller h2::before,
.best-seller h2::after {
    content: "";
    width: 360px;
    height: 1px;
    background-color: #A49487;
}

/*---------- Best Seller Cards ----------*/

.cards {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.card {
    width: 310px;
    height: 400px;
    background-color: #F0E6D7;
    border: 1.5px solid rgba(63, 62, 61, 0.288);
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
}

.card img {
    width: 110%;
    height: 267px;
    display: block;
    object-fit: cover;
}

.card:nth-child(1) img {
    object-position: center 78%;
    position: relative;
    left: -5px;
}

.card:nth-child(2) img {
    object-position: center 50%;
    position: relative;
    left: -18px;
}

.card:nth-child(3) img {
    object-position: center 15%;
    position: relative;
    left: -4px;
}

.card h3 {
    font-family: "Bodoni Moda", serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 25px 20px 8px;
}

.card h3::after {
    content: "";
    display: block;
    width: 180px;
    height: 1px;
    background-color: #4A4947;
    opacity: 35%;
    margin: 3px auto 0;
}

.card p {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 1.1;
    margin: 20px 28px 25px;
}

.best-seller > button {
    padding: 10px 35px;
    border: 2px solid rgba(63, 62, 61, 0.288);
    border-radius: 10px;
    background-color: #FAF7F0;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    top: 40px;
}

.best-seller > button img {
    width: 20.16px;
    height: 12.96px;
    margin-left: 30px;
}

/*---------- Features ----------*/

.features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    padding: 40px 10%;
    background-color: #FAF7F0;
}

.feature {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
    height: 131px;
}

.feature::after {
    content: "";
    position: absolute;
    top: 0;
    width: 1px;
    height: 131px;
    background-color: rgb(231, 223, 216);
}

.feature:nth-child(1)::after {
    right: -30px;
}

.feature:nth-child(2)::after {
    right: -50px;
}

.feature:nth-child(3)::after {
    left: 350px;
}

.feature:nth-child(4)::after {
    display: none;
}

.feature:last-child::after {
    display: none;
}

.feature:nth-child(1) {
    transform: translateX(-120px);
}

.feature:nth-child(2) {
    transform: translateX(-40px);
}

.feature:nth-child(3) {
    transform: translateX(60px);
}

.feature:nth-child(4) {
    transform: translateX(145px);
}

.icon-circle {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #E7DFD8;
}

.icon-circle img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.feature-text h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 450;
}

.feature-text span {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    opacity: 50%;
    margin-top: -2px;
    margin-bottom: 7px;
}

.feature-text p {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 1.3;
    max-width: 180px;
}

/*---------- Experience ----------*/

.experience {
    display: flex;
    width: 100%;
    min-height: 450px;
    background-color: #F0E6D7;
}

.experience-image {
    width: 50%;
}

.experience-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.experience-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
}

.experience-text > p:first-child {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

.experience-text h2 {
    font-family: "Bodoni Moda", serif;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 35px;
    max-width: 500px;
    line-height: 40px;
}

.experience-text h2 + p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 25px;
    max-width: 350px;
    line-height: 25px;
    letter-spacing: 5%;
}

.experience-text button {
    width: fit-content;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #1E1E1E;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    cursor: pointer;
}